*{
    margin: 0px;
    padding: 0px;
}
#BulbNSwitch{
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-around;
    align-items: center;
    padding: 200px;
}
.bulb{
    /* position:absolute; */
    height: 200px;
    width: min-content;
}
.CircleButton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}